<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Booking</title>

        <meta charset="UTF-8">
        <title>Template</title>
        <link rel="stylesheet" th:href="@{/styles/templateStyles.css}">
    <link rel="stylesheet" href="/styles/mybookingStyle.css">
    <script type="text/javascript" th:src="@{/JS/cookies.js}"></script>

</head>
<body onload="addUserNameToHeader()">
<header th:replace="mainTemplate :: header"></header>

<div class="record">
    <h1 class="linestyle">My booking record</h1>

    <div class="list-of-record">
        <div class="record-item" th:each="booking: ${bookingList}">
            <div>
                Booking Number
                <div th:text="${booking.getId()}" ></div>
            </div>
            <div>
                Desk Number
                <div th:text="${booking.getDeskID()}"></div>
            </div>
            <div>
                City
                <div th:text="${booking.getDate()}"></div>
            </div>
            <div>
                Booking Date
                <div th:text="${booking.getCity()}"></div>
            </div>
            <div>
                <img class="icons"  src="../Images/delete.png" alt="delete">
            </div>
            <div>
                <img class="icons"  src="../Images/schedule.png" alt="update">
            </div>


        </div>
    </div>
</div>
</body>
</html>