<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My Booking</title>

        <meta charset="UTF-8">
        <title>Template</title>
        <link rel="stylesheet" th:href="@{/styles/templateStyles.css}">
    <link rel="stylesheet" href="/styles/mybookingStyle.css">


</head>
<body>
<header th:replace="mainTemplate :: header"></header>



<table>
    <tr>

        <td class="table_header f">Booking Number</td>
        <br><td class="table_header">Desk Number</td>
        <br><td class="table_header">City</td>
        <br><td class="table_header"> Booking Date</td>

    </tr>
    <tr th:each="booking: ${bookingList}">
        <td class="main-list" th:text="${booking.getId()}" > </td>
        <td class="main-list" th:text="${booking.getDeskID()}"></td>
        <td class="main-list" th:text="${booking.getDate()}"></td>
        <td class="main-list" th:text="${booking.getCity()}"></td>
        <td> <img class="icons"  src="../Images/delete.png" alt="delete"> </td>
        <td><img class="icons"  src="../Images/schedule.png" alt="update"></td>
    </tr>
</table>
<footer th:fragment="footer" class="myFooter">
    Footer content
</footer>
<script>
    window.onload=function () {
        let userId = document.getElementById("userId").innerText;
        localStorage.setItem("userId", userId);
        console.log(userId);
    }

</script>

</body>
</html>