<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://thymeleaf.org"
>
<head>
    <meta name="viewport" content="width=device-width",user-scalable="no",initial-scale="1", charset="UTF-8">
    <title>Bookings</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/templateStyles.css}" />
    <script type="text/javascript" th:src="@{/JS/cookies.js}"></script>
</head>
<body  onload="setCalendarDates(); addUserNameToHeader()">

<div class="page-container">
    <header th:replace="mainTemplate :: header">

    </header>
    <div class="content-wrapper">
        <h1>Make a booking</h1>
        <div class="calendar">
            <h1>Calendar & Location</h1>

            <form action="/searchDate" name="dateForm" method="get" onsubmit="return checkWeekend()">

                <label for="date"
                >Please select the day you would like to book your desk</label
                ><br />

                <!--          Date range is from today to 1 week from today -->
                <input th:attr="value =${inputDate}" id="date" name="date" type="date"/><br>
                <label for="location">
                    Please select office location <br>
                    <select name="location" id="location">
                        <option value="Bristol">Bristol</option>
                        <option value="Cardiff">Cardiff</option>
                    </select>
                    <br>
                </label>
                <input type="submit" class="submit-button">
            </form>
        </div>

        <!--            Dynamic content - only render desks after searching for desks-->
        <h2 id="location-date-confirm" style="text-align: center" th:if="${deskList != null}" th:text="${map.getLocation} + ', ' + ${searchDate}"></h2>
        <h2 th:if="${unavailable != null}">Sorry, desk are not bookable at the weekends</h2>
        <section th:if="${lotteryDay != null}">
            <h2>It looks like you've selected a high traffic day</h2>
            <div id="lottery-confirm" th:text="'On high traffic days desks are assigned on a lottery basis. If you\'d like to enter the lottery for ' + ${lotteryDay} + ' please press the button below.'">
            </div>
            <form action="/lottery" method="get" onsubmit="return validateLottery()">
                <input type="hidden" name="search-date" th:attr="value=${inputDate}">
                <input type="hidden" name="lotteryLocation" id="lotteryLocation" th:attr="value=${location}">
                <button type="submit" class="submit-button">Enter Lottery</button>
            </form>
        </section>

        <section class="desks" th:if="${deskList != null}">
            <input type="hidden" id="normalLocation" th:attr="value=${location}">
            <div class="map-section">
                <div class="img-wrapper">
                    <img th:src="${map.getImage()}" alt="">
                </div>
            </div>
            <div class="list-of-desks">

                <div class="desk-item" th:if="${unavailable == null}" th:each="desk:${deskList}">

                    <div>
                        Desk
                        <div th:text="${desk.getDesk_number()}"></div>
                    </div>
                    <div>
                        Monitors
                        <div th:text="${desk.isHas_monitors()} ? 'Yes' : 'No'"></div>
                    </div>
                    <div>
                        Desk Type
                        <div th:text="${desk.getDesk_type()}"></div>
                    </div>
                    <div>
                        Location
                        <div th:text="${desk.getDesk_location()}"></div>
                    </div>
                    <form th:attr="name=${desk.getDesk_number()}" action="/Home" th:action="@{'/booking/' + ${userId} + '/' + ${desk.getDesk_id} +'/' +${inputDate}}" onsubmit="return validateBooking(this.name)">
                        <button class="booking-button" type="submit">Book</button>
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>

<script>

    function setCalendarDates(){

        //create dates in String format
        let today = new Date();
        let oneWeeksTime = new Date();
        oneWeeksTime.setDate(oneWeeksTime.getDate() + 7);
        today = getFormattedDate(today);
        oneWeeksTime = getFormattedDate(oneWeeksTime);
        let dateField = document.getElementById("date");

        //Set max and min to only allow booking 1 week in advance
        dateField.setAttribute("max", oneWeeksTime);
        dateField.setAttribute("min", today);
    }
    function getFormattedDate(date){
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();
        if(day < 10){day = '0' + day;}
        if(month < 10){month = '0' + month;}
        return year + '-' + month + '-' + day;
    }

    function validateBooking(deskNo){
        let office = document.getElementById("location").value;
        let dateString = document.getElementById("location-date-confirm").innerHTML;
        let endIndex = dateString.indexOf(", ");
        dateString = dateString.substring(endIndex + 2);
        if(confirm("You are about to book Desk " + deskNo + " in " + office + " on " + dateString + ".\n\nWould you like to continue?")){
            return true;
        } else {
            return false;
        }
    }

    function checkWeekend(){
        let input = document.getElementById("date").value;
        let date = new Date(input).getUTCDay();
        let weekday = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        if(weekday[date] === 'Sunday' || weekday[date] === 'Saturday' ){
            alert("Sorry desks are not available at the weekends");
            return false;
        }
        return true;
    }

    document.addEventListener("DOMContentLoaded", function(){
        let location;
        if(document.getElementById("lotteryLocation")){
            location = document.getElementById("lotteryLocation").value;
        }else{
            location = document.getElementById("normalLocation").value;
        }
        document.getElementById("location").value = location;
    });

    function validateLottery(){
        let office = document.getElementById("location").value;
        let dateString = document.getElementById("lottery-confirm").innerHTML;
        let endIndex = dateString.indexOf(" please");
        dateString = dateString.substring(98, endIndex);
        if(confirm("You are about to enter the lottery for " + dateString + " in " + office + ".\n\nWould you like to continue?")){
            return true;
        } else {
            return false;
        }
    }

</script>
</body>
</html>
