<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/templateStyles.css}">
</head>
<body>
<div class="page-container">
    <header th:replace="mainTemplate :: header"></header>
    <h1>Booking Confirmation</h1>
    <div>
    Success! You have made a booking for <span th:text="${booking.getBooking_date}">date</span> on desk
        <span th:text="${booking.Desk_desk_id}"></span>
    </div>
        <footer th:replace="mainTemplate :: footer"></footer>

</div>
</body>
</html>