<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/templateStyles.css}">
</head>
<body>
<div class="page-container">
    <header th:replace="mainTemplate :: header"></header>
    <div class="content-wrapper">
        <h1>Dashboard</h1>
        <section class="User" th:if="${User != null}">
            <div class="user-item" th:each="user:${User}">
                <h4>welcome!</h4>
                <div th:text="${user.getFirst_name()}"></div>

            </div>
        <br><br><br>
        <a href="/bookings" class="navButton">Bookings</a>
    </div>


    <footer th:replace="mainTemplate :: footer"></footer>

</div>
</body>
</html>