<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/templateStyles.css}">
</head>
<body>
<div class="page-container">
    <header th:replace="mainTemplate :: header"></header>
    <div class="content-wrapper">
        <h1>Dashboard</h1>
        <br><br><br>
        <a href="/bookings" class="navButton">Bookings</a>
    </div>


    <footer th:replace="mainTemplate :: footer"></footer>

</div>
</body>
</html>