<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width",user-scalable="no",initial-scale="1", charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/templateStyles.css}">
  <link rel="stylesheet"  type="text/css"th:href="@{/styles/login.css}">

  <title>Login</title>
</head>
<body>
<!--<header th:replace="mainTemplate :: header"></header>-->
<div class="center-content" >
  <h1>Login</h1>

  <div class="inputBox" >
    <form name="form1" method="post">

      <div class="inputText">
        <input type="text" placeholder="first_name" name="first_name" />
      </div>
      <div class="inputText">
        <input type="password" placeholder="password" name="password" />
      </div>
      <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
      <input type="submit" value="User LOGIN" formaction="/userlogin" class="inputButton1"  name="button"  />
      <input type="submit" value="Admin LOGIN" formaction="/admin/home" class="inputButton2" name="button" onclick="setToken()"/>
      <a style="color: #9fcdff" href="https://github.com/login/oauth/authorize?client_id=acd4376fd4158e948c1a&redirect_uri=http://localhost:8080/dashboard">github login</a>
    </form>
  </div>
    </form>
</div>



<footer th:replace="mainTemplate :: footer"></footer>


<script>
  
  function setToken(){
    console.log("method call")
    localStorage.setItem("token",Date.now())
  }

</script>

</body>
