<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/templateStyles.css}">
  <link rel="stylesheet"  type="text/css"th:href="@{/styles/login.css}">

  <title>Login</title>
</head>
<body>
<header th:replace="mainTemplate :: header"></header>
<form method="post">
<div class="center-content" >
  <h1>Login</h1>

  <div class="inputBox">
    <form name="form1"   action="/userlogin" method="post">

      <div class="inputText">
        <input type="text" placeholder="username" name="username" />
      </div>
      <div class="inputText">
        <input type="password" placeholder="password" name="password" />
      </div>
      <input type="submit" value="User LOGIN" class="inputButton1"  name="button"  />
      <input type="submit" value="Admin LOGIN" class="inputButton2" name="button"/>
    </form>
  </div>

  <!--  <form action="/login" method="post">-->
  <!--    <input type="submit" value="github Login"/>-->
  <!--  </form>-->
</div>
</form>


<footer th:replace="mainTemplate :: footer"></footer>


</body>
