.record{
    border-bottom: 2px solid black;
    width: 100%;
    margin: auto;
}
.linestyle {
    border-bottom: 2px solid black;
}
.list-of-record{
    overflow-y: scroll;
    max-height:580px;
    margin: 30px auto;
    border: 1px solid grey;
    border-radius: 5px;
    max-width: 95%;
}
.record-item{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}
.record-item.lottery{
    margin: 20px auto;
    grid-template-columns: repeat(3,1fr);
}
.record-item div{
    text-align: center;
}
.record-item > div:first-child{
    display: none;
}
.record-item.lottery > div:first-child{
    display: inline;
}
/*hiding the icons
.icons{
    opacity: 0;
    transition: opacity .2s ease-out;
    cursor: pointer;
}*/
/* Showing the delete and update icons when hovering inside the booking table
.record-item:hover .icons{
    opacity: 1;
}*/

.select-button{
    margin: 5px;
    font-size: 1.1em;
    padding: 4px 10px;
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}
.booking-type-select{
    margin: 20px 0;
    text-align: center;

}
.booking-type-select ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.booking-type-select li{
    padding: 10px;
}


