.record{
    border-bottom: 2px solid black;
    width: 80%;
    margin: auto;
}
.linestyle {
    border-bottom: 2px solid black;
}
.list-of-record{
    overflow-y: scroll;
    max-height:580px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius: 5px;
    max-width: 70%;



}
.record-item{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
}
.record-item div{
    text-align: center;
}
/*hiding the icons */
.icons{
    opacity: 0;
    transition: opacity .2s ease-out;
    cursor: pointer;
}
/* Showing the delete and update icons when hovering inside the booking table */
div:hover .icons{
    opacity: 1;
}


