/*All document style*/
*{
    margin:0;
    padding:0;
    font-family: "Poppins Medium", sans-serif;
}

/*Fonts*/
@font-face {
    font-family: "Poppins Medium", sans-serif;
    src: url("../../fonts/Poppins-Medium.ttf");
}


/*Template styles*/
.myHeader{
    background: #0000cd;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    font-size: 1.2em;
}
.myHeader ul{
    display: flex;
    list-style: none;
    padding: 0.5em;
}
.myHeader a{
    text-decoration: none;
    color: white;
    padding: 0.5em;
}
.myFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: lightgrey;
    text-align: center;
    padding: 0.5em 0;
}


/*Buttons*/
.navButton{
    font-size: 1.2em;
    border: 1px solid white;
    padding: 0.7em;
    background: #0000cd;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}