/*All document style*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins Medium", sans-serif;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; */
  box-sizing: border-box;
}



/*Fonts*/
@font-face {
  font-family: "Poppins Medium", sans-serif;
  src: url("../../fonts/Poppins-Medium.ttf");
}

/*Template styles*/
.myHeader {
  background-image: linear-gradient(to right, #070000 33%, #1f1b1d 66%,  #2a292a 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-size: 1.2em;

}
.myHeader img{
  max-height: 50px;
  padding: 5px;
}
.myHeader section{
  justify-self: end;
}
.myHeader section > span{
  display: none;
}
.myHeader li:nth-child(2), .myHeader li:nth-child(3){
  display: none;
}
.myHeader ul {
  grid-column: 1/3;
  display: flex;
  list-style: none;
}
.myHeader li {
  align-self: center;
}
.myHeader a {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}
.myHeader button{
  width: auto;
  height: 30px;
  justify-self: end;
  grid-column: 4/5;
  margin-right: 20px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid white;
  color: white;
  background: black;
}

.myFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: lightgrey;
  text-align: center;
  padding: 0.5em 0;
  height: 2.5rem;
}

/*Buttons*/
.navButton {
  font-size: 1.2em;
  border: 1px solid white;
  padding: 0.7em;
  background: #0000cd;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}
.booking-button, .submit-button{
  margin: 5px;
  font-size: 1.1em;
  padding: 4px 10px;
  color: white;
  background: #2a292a;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

/*Page layout*/
body{
  margin: 0;
  height: 100%;
  background: rgb(248,248,255);
}

/* MEDIA QUERIES */

/* mobile */
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrapper {
  width: 100%;
  display: grid;
  margin: 0;
  padding: 2px;
}
.content-wrapper > h1 {
  text-align: center;
}
.calendar {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}
.calendar form{
  display: flex;
  flex-direction: column;
}
.calendar input{
  margin: 5px;
}
.calBlock {
  display: grid;
  position: relative;
  width: 200px;
  height: 140px;
  border: 1px solid grey;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: auto;
}
.map-section{
  padding: 10px 0;
  align-self: center;
}

.map-section img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border: 1px solid black;
}
.desks {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}
.desks h1{
  align-self: center;
}
.list-of-desks{
  overflow-y: scroll;
  max-height:580px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
.desk-item{
  width: 95%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;

}
.desk-item div{
  text-align: center;
}
.desk-item div:nth-child(4){
  display: none;
}
#admin-booking-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#admin-booking-success{
  padding: 10px;
  text-align: center;
}

/* Small tablets */
@media screen and (min-width: 620px) {
  .content-wrapper {
    width: 80%;
    margin: auto;
  }
  .content-wrapper > h1 {
    text-align: left;
  }
  .myHeader li:nth-child(2), .myHeader li:nth-child(3){
    display: inline;
  }
  .map-section img{
    width: auto;
    max-height: 80vh;
  }
  .booking-type-select ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .myHeader section > span{
    display: inline;
    color: white;
    align-self: center;
    padding-right: 5px;
    vertical-align: middle;
  }
  .desk-item{
    grid-template-columns: repeat(5,1fr);
  }
  .desk-item div:nth-child(4){
    display: inline;
  }
  #admin-booking-search{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
  }

  .record{
    width: 80%;
  }
  .list-of-record{
    max-width: 75%;
  }
  .calendar form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    font-size: 1.2rem;
  }
  .calendar input,
  .calendar select{
    font-size: 1.2rem;
  }

}

/* Large tablets and laptops styles */
@media screen and (min-width: 960px) {
  .myHeader section{
    display: inline;
    color: white;
    padding: 0.5em;
    justify-self: right;
  }
  .desks{
    flex-direction: row;
  }
  .map-section{
    width: 50%;
  }
  .list-of-desks{
    width: 50%;
  }


}

/* Desktop */
@media screen and (min-width: 1200px) {
  .content-wrapper{
    max-width: 1250px;
  }
}
